{% extends 'base.html' %}
{% load custom_filter_tags %}
{% load static %}



{% block main %}
{% include 'message.html' %}

<nav arial-label="breadcrumb">
        <ol class="breadcrumb">
            {%if projeto.awp_master_index == True %}
            <li class="breadcrumb-item active" ><a class="btn btn-info" href="{% url 'projeto_master_index' projeto.id %}">AWP Master Index</a></li>
            {% endif %}

            <li class="breadcrumb-item active" selected><a class="btn btn-light" href="{% url 'projeto_home' projeto.id %}">Home</a></li>

            {%if projeto.awp_master_index == True %}
            <li class="breadcrumb-item">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">+ Ações</button>
                                    <div class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(0px, -2px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                      <button type="button" class="dropdown-item" data-toggle="modal" data-target="#myModalCWA">Carga CWA</button>
                                                      <button type="button" class="dropdown-item" data-toggle="modal" data-target="#myModalPACOTES">Carga Pacotes</button>
                                                      <button type="button" class="dropdown-item" data-toggle="modal" data-target="#myModalConfiguraCWA">Configurar CWA</button>
                                                      <button type="button" class="dropdown-item" data-toggle="modal" data-target="#myModalConfiguraPACOTES">Configurar Pacotes</button>
                                    </div>
            </li>
            {% endif %}
        </ol>
</nav>
<div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">AWP Master Index  -  Logs</h4>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="thead-primary">
                                            <tr>
                                                <th scope="col">Tipo</th>
                                                <th scope="col">Usuário</th>
                                                <th scope="col">Data Execução</th>
                                                <th scope="col">Data Corte</th>
                                                <th scope="col">Arquivo</th>
                                                <th scope="col">Log</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for execucao in execucoes_page %}
                                            <tr>
                                                <th>{{execucao.tipo}}</th>
                                                <td>{{execucao.profile.nome}}</td>
                                                <td>{{execucao.data_execucao| date:"d/m/Y"}}</td>
                                                <td>{{execucao.data_corte| date:"d/m/Y"}}</td>
                                                {% if execucao.arquivo %}
                                                <td><a href="{% url 'download_file' file_name=execucao.arquivo.name|base_name %}">{{execucao.arquivo}}</a></td>
                                                {% else %}
                                                <td>O Arquivo não foi encontrado</td>
                                                {% endif %}
                                                {% if execucao.status == "ERRO" %}
                                                <td><a class="btn btn-info" href="{% url 'exportar_log' execucao.id%}">Log</a></td>
                                                {% else %}
                                                <td>Sem Log</td>
                                                {% endif %}
                                                {% if execucao.status == 'ERRO' %}
                                                <td style="color:red ;font-weight: bold">{{execucao.status}}</td>
                                                {% else %}
                                                <td style="color:green ;font-weight: bold">{{execucao.status}}</td>
                                                {% endif %}



                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% include 'paginator.html' with page=posts %}
                        </div>
                    </div>


<form name="form" id="form"  method="post" action="{% url 'execucao_master_index_cwa' %}" enctype="multipart/form-data">
{% csrf_token %}
    <!-- Modal -->
<div class="modal fade show" id="myModalCWA" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
          <h3 class="modal-title">Carga CWA</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" >
          <div class="form-group">
              <div class="col-sm-12">
                  <input type="hidden" name="projeto_id"  id="projeto_id" value="{{projeto.id}}">

                {{ form_projeto_cwa.as_p }}

              </div>
          </div>

      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Carga</button>
      </div>
    </div>

  </div>
</div>
</form>

<form name="form" id="formPACOTES"  method="post" action="{% url 'execucao_master_index_pacotes' %}" enctype="multipart/form-data">
{% csrf_token %}
    <!-- Modal -->
<div class="modal fade show" id="myModalPACOTES" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
          <h3 class="modal-title">Carga Pacotes</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" >
          <div class="form-group">
              <div class="col-sm-12">
                  <input type="hidden" name="projeto_id"  id="projeto_id" value="{{projeto.id}}">

                {{ form_projeto_pacotes.as_p }}

              </div>
          </div>

      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Carga</button>
      </div>
    </div>

  </div>
</div>
</form>

<form name="form" id="formconfiguracwa"  method="post" action="" enctype="multipart/form-data">
{% csrf_token %}
    <!-- Modal -->
<div class="modal fade show" id="myModalConfiguraCWA" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
          <h3 class="modal-title">Configuração CWA</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" >
          <div class="form-group">
              <div class="col-sm-12">
                  <input type="hidden" name="projeto_id"  id="projeto_id" value="{{projeto.id}}">

                {{ form_configura_cwa.as_p }}

              </div>
          </div>

      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </div>

  </div>
</div>
</form>


<form name="form" id="formconfigurapacotes"  method="post" action="" enctype="multipart/form-data">
{% csrf_token %}
    <!-- Modal -->
<div class="modal fade show" id="myModalConfiguraPACOTES" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
          <h3 class="modal-title">Configuração Pacotes</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" >
          <div class="form-group">
              <div class="col-sm-12">
                  <input type="hidden" name="projeto_id"  id="projeto_id" value="{{projeto.id}}">

                {{ form_configura_pacotes.as_p }}

              </div>
          </div>

      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </div>

  </div>
</div>
</form>

{% endblock %}

{% block jsadd %}

<script>
    function atividade(id){
        console.log(id);
        $.ajax({
            url: "/projetos/projeto_edit_ajax/" + id,
            async: true,
            type: 'GET',
            success: function(data) {
                console.log(data);

                $('#formedit').trigger("reset");

                $('#id_projeto_edit').val(data.projeto);
                $('#id_codigo_projeto_edit').val(data.codigo_projeto);
                $('#id_descricao_edit').val(data.descricao);
                $('#id_inicio_projeto_edit').val(data.inicio_projeto);
                $('#id_termino_projeto_edit').val(data.termino_projeto);

                $('#id_edit').val(id);

                $('#myModalEdit').modal('show');

            }
        });
    };

    function atividadedelet(id){
      document.getElementById("id_delet").value = id;
      console.log(id)
    };

</script>
{% endblock  %}