<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Liberta</title>
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  </head>

    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Reset a sua senha.</h3>
                  {% if validlink %}
                  <p>Digite a sua nova senha</p>
                <form  method="post">
                    {{form.as_p}}
                    {% csrf_token %}
                  <p><input type="submit" value="Trocar a senha"></p>
                </form>
                  {% else %}
                  <p>O link para resetar a sua senha está invalido! Solicite um novo link.</p>
                  {% endif %}
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

  </body>

</html>